{% extends 'base.html' %}

{% block content %}
<style>
  /* Add some basic styles for the member details */
  .member-details {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .member-details h2 {
    color: #333;
  }

  .member-details p {
    margin-bottom: 10px;
  }

  .btn-secondary {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #6c757d;
    border: 1px solid #6c757d;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
  }

  .btn-secondary:hover {
    background-color: #495057;
    border-color: #495057;
  }
</style>
  <div class="member-details">
    <h2>{{ profile.user }}</h2>
    <p><strong>First Name:</strong> {{ profile.first_name }}</p>
    <p><strong>Last Name:</strong> {{ profile.last_name }}</p>
    <p><strong>Birthdate:</strong> {{ profile.birthdate }}</p>
    <p><strong>Category:</strong> {{ profile.category }}</p>
    <p><strong>Phone Number:</strong> {{ profile.phone_number}}</p>
    <p><strong>Email:</strong> {{ profile.email }}</p>
    <p><strong>Bio:</strong> {{profile.bio }}</p>
    
  
    <br/><br/>
    <a href="{% url 'church_app:member_dashboard' %}" class="btn btn-secondary">Back</a>
    <a href="{% url 'church_app:profile_edit' pk=profile.pk %}" class="btn btn-secondary">Edit</a>
    
  </div>

  
{% endblock %}
